* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Georgia", serif;
  background: #1e1e2f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
}
.intro {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 30px;
  opacity: 1;
  transition: opacity 1s ease;
}
.btn {
  padding: 10px 20px;
  font-size: 1rem;
  background: #f5eeef;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: rgb(5, 2, 2);
  transition: 0.3s;
}
.btn:hover {
  background: #b1acad;
}
.letter {
    display: none; /* Biar tetap sembunyi sebelum tombol diklik */
    background: repeating-linear-gradient(
        to bottom,
        #fdf6e3 0px,
        #fdf6e3 27px,
        #d2d2d2 28px
    );
    color: #333;
    padding: 40px 30px 40px 60px; /* Padding kiri (60px) agar teks tidak kena lubang kertas */
    border-radius: 10px;
    width: 90%;
    max-width: 450px;
    margin: 20px auto; 
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    font-size: 1.1rem;
    line-height: 28px; /* HARUS SAMA dengan angka di repeating-linear-gradient (28px) */
    position: relative;
    white-space: pre-wrap;
    word-wrap: break-word;
    box-sizing: border-box; 
  }
.letter p {
  margin-top: 0;
  overflow: visible;
}

.letter::before {
    content: “”;
    position: absolute;
    top: 0;
    left: 10px; /* Posisi lubang di pinggir kiri */
    width: 25px;
    height: 100%;
    background-image: radial-gradient(circle, #1e1e2f 6px, transparent 7px);
    background-size: 25px 28px; /* HARUS SAMA dengan line-height (28px) */
    background-repeat: repeat-y;
    pointer-events: none;
}
.signature {
  position: absolute;
  bottom: -20px;
  right: 6px;
  width: 180px;
  opacity: 0.9;
  pointer-events: none;
  transform: rotate(-2deg);
  max-width: 100%;
  height: auto;
}
.letter     {
  width: 90%;
}